@if (User.Identity.IsAuthenticated)
{
    @await Html.PartialAsync("CreatePost")
}

<div class="social-container">
    <div class="social-posts-container">
        @foreach (var post in Model.Posts)
        {
            <div id="@post.Id" class="card">
                <div class="card-body">
                    <h5 class="card-title">@post.Title</h5>
                    <p class="card-text">@post.Description</p>

                    @if (post.ImageData != null && post.ImageData.Length > 0)
                    {
                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(post.ImageData)" alt="Post Image" class="img-fluid" />
                    }

                    <p class="card-text"><small class="text-muted">Published by @post.Author on @post.DateOfPublishing</small></p>

                    <div class="post-meta-icons">
                        <span onclick="showComingSoonPopup()"><i class="fa fa-thumbs-up"></i> Like</span>
                        <span onclick="showComingSoonPopup()"><i class="fa fa-comment"></i> Comment</span>
                        <span onclick="showComingSoonPopup()"><i class="fa fa-share"></i> Share</span>
                        @if (User.IsInRole("Social Admin") || post.Author == User.Identity.Name)
                        {
                            <span class="post-delete-span"><i class="fa fa-trash-can"></i> Delete</span>
                        }
                    </div>
                </div>
            </div>
        }
    </div>

    @await Html.PartialAsync("_SocialLinks")

</div>
